.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wave-top {
  margin-top: -80px;
}
.wave {
  height: 80px;
  overflow: hidden;
  top: -.1rem;
}
.wave > svg{
  height: 100%;
  width: 100%;
}
.wave > svg > path {
  stroke: none;
  fill: #525252
}
.section1 {
  background-color: #525252;
  color: #FFFFFF;
}
.section1 .title {
  margin-top: -.1rem;
  font-size: 1.2rem;
}
