.list {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: "section";
  justify-content: center;
}

.section {
  min-width: 200px;
  border: 1px #a9a9a9 solid;
  border-radius: 1rem;
  margin: .5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #a9a9a9;
}

.section:hover {
  background-color: #a9a9a9;
  color: #000000;
}

.link {
  text-decoration: none;
  color: #000000;
}